# Vonage Private Key Placeholder
# 
# To use Vonage Voice API, you need to place your actual private key here.
# 
# Steps to obtain your Vonage private key:
# 1. Go to https://dashboard.vonage.com/applications
# 2. Create or select your Vonage Voice Application
# 3. When creating the application, a private.key file will be downloaded
# 4. Rename that file to 'vonage_private.key' and place it in this directory
# 5. Make sure this file is NOT committed to version control (it should be in .gitignore)
#
# The private key is used for JWT authentication with Vonage Voice API.
#
# Example format (your actual key will be different):
# -----BEGIN PRIVATE KEY-----
# MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC7...
# (many lines of base64-encoded data)
# -----END PRIVATE KEY-----
